
/* MAIN ELEMENTS */

.igor1c-main-page {
    background-color: #666662;
}

.igor1c-dialog {
    width: 1150px;
}

.igor1c-grid-main {
    width: 1200px;
}

.igor1c-grid-dialog {
    width: 1100px;
}



/* SEPARATORS */

.igor1c-div-vertical-separator-lg {
    height: 75px;
    width: 1px;
}

.igor1c-div-vertical-separator-sm {
    height: 25px;
    width: 1px;
}

.igor1c-div-horizontal-separator-small {
    height: 1px;
    width: 10px;
}



/* CARDS */

.igor1c-card-caption {
    background-color: rgb(127, 91, 70);
}



/* BUTTONS */

.igor1c-button-save {
    background-color: #00c853;
}

.igor1c-button-cancel {
    background-color: #2b6dd5;
}

.igor1c-button-delete {
    background-color: #c83a5f;
}



/* ELEMENTS */

.igor1c-chip {
    width: 300px;
    margin-left: 10px;
}

.igor1c-chip-label {
    width: 100px;
}

.igor1c-floating-label {
    color: rgb(121, 85, 72);
    font-size: 12px;
    top: 4px;
    visibility: visible;
}

.igor1c-input {
    width: 175px;
    margin-left: 10px;
}

.igor1c-input-enabled {
    border-bottom: 1px solid rgba(0, 0, 0, .12) !important;
    color: inherit !important;
}

.igor1c-select {
    width: 175px;
    margin-left: 10px;
}



/* DIFFERENT */

.igor1c-element-align-center {
    margin: auto !important;
}

.igor1c-text-align-center {
    text-align: center !important;
}