.main-page {
    background-color: #404C50;
}

.div-main-container {
    background-color: #EAE1CD;
    width: 1200px;
}

.div-main-container-border {
    border-color: #000000;
    border-radius: 10px;
    border-width: 1px;
}

.div-basic {
    background-color: #E6ECE8;
}

.vertical-center-alignment {
    margin-top: auto;
    margin-bottom: auto;
}