
/* MAIN ELEMENTS */

.igor1c-mainPage {
    /*background-color: #666662;*/
    background-color: #333;
}

.igor1c-grid-main-wrapper {
    width: 100%;
}

.igor1c-grid-main {
    width: 1200px;
}

.igor1c-grid-dialog {
    width: 1100px;
}

.igor1c-footer {
    z-index: 2;
}



/* DIALOG */

.igor1c-dialog {
    position: absolute;
    top: 0px;

    overflow-y: scroll;

    background-color: rgba(0, 0, 0, 0);

    border: none;
    padding: 0px;
    height: 100%;
}

.igor1c-dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.igor1c-dialog::-webkit-scrollbar {
    display: none;
}

.igor1c-dialog-inner {
    top: 2px;
    overscroll-behavior-y: none;

    background: radial-gradient(circle farthest-corner at 900px 250px, rgba(154, 198, 208, 1) 0%, rgba(196, 196, 196, 1) 100%);

    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 20px 35px 20px 0px;
    width: 1150px;
}

.igor1c-cardMenu {
    position: absolute;
    right: 16px;
    top: 36px;
}



/* SEPARATORS */

.igor1c-separator-div-verticalLarge {
    height: 75px;
    width: 1px;
}

.igor1c-separator-div-verticalSmall {
    height: 25px;
    width: 1px;
}

.igor1c-separator-div-horizontalSmall {
    height: 1px;
    width: 10px;
}



/* BUTTONS */

.igor1c-button-save {
    background-color: #00c853 !important;
}

.igor1c-button-upload {
    background-color: #e0731f !important;
}

.igor1c-button-cancel {
    background-color: #2b6dd5;
}

.igor1c-button-delete {
    background-color: #c83a5f;
}



/* USER TASKS */

.igor1c-userTask-card {
    background-color: rgb(255, 255, 255);

    margin: auto;
    min-height: 0px;
}

.igor1c-userTask-cardCaption {
    background-color: rgb(96, 125, 139);
}

.igor1c-userTask-cardCaption-label {
    width: 250px;
}

.igor1c-userTask-cardInfo-label {
    color: rgb(0, 0, 0);
}

.igor1c-userTask-chip {
    width: 300px;
    margin: 8px 0px 8px 10px;
}

.igor1c-userTask-chip-label {
    background-color: rgb(62, 130, 81) !important;
    width: 100px;
    margin: 0px 0px 0px -2px;
}

.igor1c-userTask-chip-label-schedule {
    background-color: rgb(119, 74, 130) !important;
    width: 100px;
    margin: 0px 0px 0px -2px;
}

.igor1c-userTask-chip-input {
    width: 175px;
    margin-left: 10px;
}

.igor1c-userTask-div-execution {
    margin-bottom: 10px;
}

/* deprecated */
.igor1c-userTask-label {
    color: rgb(0, 0, 0) !important;
    font-size: 12px;
    top: 4px;
    margin-left: 0px;
    visibility: visible;
}



/* TASK ACTIONS */

.igor1c-taskAction-chip-label {
    background-color: rgb(96, 125, 139) !important;
    width: 100px;
    margin: 0px 0px 0px -2px;
}

.igor1c-taskAction-chip-select {
    width: 175px;
    margin-left: 10px;
}



/* PARAMS OF THE TASK ACTION */

.igor1c-param-card {
    background-color: rgb(224, 225, 199);
    border-radius: 10px;
    height: 90px;
    margin: 20px 10px 10px 10px;
}

.igor1c-param-card-small {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(224, 225, 199);
    border-radius: 10px;
    height: 30px;
    margin: 20px 10px 10px 10px;
}

.igor1c-param-cardCaption-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: rgb(0, 0, 0);
    font-size: 14px;
    margin: auto;
}

.igor1c-param-div-select {
    float: left;
}

.igor1c-param-label-select {
    display: inline-block;
    width: 70px;
    margin-left: 10px;
    font-size: 12px;
}

.igor1c-param-label-checkBox {
    display: inline-block;
    margin-left: 2px;
    font-size: 12px;
}

.igor1c-param-input {
    width: 275px;
    margin-left: 10px;
}

.igor1c-param-select {
    width: 200px;
    margin-left: 10px;
}

.igor1c-param-checkBox {
    margin-left: 10px;
}

.igor1c-param-checkBox-booleanValue {
    height: 15px;
    width: 15px;
}



/* DIFFERENT */

.igor1c-alignment-elementCenter {
    margin-left: auto !important;
    margin-right: auto !important;
}

.igor1c-alignment-textCenter {
    text-align: center !important;
}