<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>
    <title>Task Manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/igor1c.css}" rel="stylesheet" media="screen"/>

</head>

<body class="main-page" ng-app="TaskManager" ng-controller="TaskManagerController">

    <br/>

    <!-- ALL USER TASKS -->

    <div class="div-main-container container-lg">

        <br/>

        <div class="div-block-caption">All user tasks</div>

        <div class="div-vertical-separator-sm"></div>

        <div id="userTasks" class="container div-table">
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center">#</div>
                <div class="div-th col-4 text-center">Name</div>
            </div>
            <div ng-repeat="userTask in userTasks">
                <div class="div-row-basic row justify-content-md-center" th:ng-click="'userTaskOnClick(userTask.id)'">
                    <div class="div-basic col-1 text-center">{{userTask.id}}</div>
                    <div class="div-basic col-4">{{userTask.name}}</div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row justify-content-md-center">
            <button id="userTaskAdd" type="button" class="btn-sm btn-success col-1 border text-center"
                th:ng-click="'addUserTaskOnClick()'">Add
            </button>
        </div>

        <br/>

    </div>



    <!-- USER TASK CONTROL PANEL -->

    <div id="userTaskControlPanelSeparator" class="div-vertical-separator-sm collapse"></div>

    <div id="userTaskControlPanel" class="div-main-container container-lg collapse">

        <br/>

        <div class="div-block-caption">User task</div>

        <div class="div-vertical-separator-sm"></div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center vertical-center-alignment">ID</div>
                <div class="col-4">
                    <input id="userTaskId" type="text" class="form-control-sm" ng-model="userTaskId" disabled />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center vertical-center-alignment">Name</div>
                <div class="col-4">
                    <input id="userTaskName" type="text" class="form-control-sm" ng-model="userTaskName" />
                </div>
            </div>
        </div>

        <br/>

        <div class="row justify-content-md-center">
            <button id="userTaskSave" type="button" class="btn-sm btn-info col-1 border text-center" th:ng-click="'saveUserTaskOnClick()'">Save</button>

            <div class="div-horizontal-separator-small"></div>

            <button id="userTaskCancel" type="button" class="btn-sm btn-secondary col-1 border text-center" th:ng-click="'cancelUserTaskOnClick()'">Cancel</button>

            <div class="div-horizontal-separator-small"></div>

            <button id="userTaskDelete" type="button" class="btn-sm btn-danger col-1 border text-center collapse" th:ng-click="'deleteUserTaskOnClick()'">Delete</button>
        </div>

        <br/>

    </div>



    <!-- USER TASK ACTIONS -->

    <div id="userTaskActionsControlPanelSeparator" class="div-vertical-separator-sm collapse"></div>

    <div id="userTaskActionsControlPanel" class="div-main-container container-lg collapse">

        <br/>

        <div class="div-block-caption">User task actions</div>

        <div class="div-vertical-separator-sm"></div>

        <div id="userTaskActions" class="container div-table">
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center">#</div>
                <div class="div-th col-1 text-center">Order</div>
                <div class="div-th col-4 text-center">Action task</div>
            </div>
            <div ng-repeat="taskAction in taskActions">
                <div class="div-row-basic row justify-content-md-center"
                     th:ng-click="'taskActionOnClick(taskAction.id)'">
                    <div class="div-basic col-1 text-center">{{taskAction.id}}</div>
                    <div class="div-basic col-1 text-center">{{taskAction.taskOrder}}</div>
                    <div class="div-basic col-4">{{taskAction.actionTypeDescription}}</div>
                </div>
            </div>
        </div>

        <br/>

        <div class="row justify-content-md-center">
            <button id="taskActionAdd" type="button" class="btn-sm btn-success col-1 border text-center" th:ng-click="'addTaskActionOnClick()'">Add</button>

            <div class="div-horizontal-separator-small"></div>

            <button id="taskActionSave" type="button" class="btn-sm btn-info col-1 border text-center" th:ng-click="'saveTaskActionOnClick()'">Save</button>

            <div class="div-horizontal-separator-small"></div>

            <button id="taskActionCancel" type="button" class="btn-sm btn-secondary col-1 border text-center" th:ng-click="'cancelTaskActionOnClick()'">Cancel</button>

            <div class="div-horizontal-separator-small"></div>

            <button id="taskActionDelete" type="button" class="btn-sm btn-danger col-1 border text-center" th:ng-click="'deleteTaskActionOnClick()'">Delete</button>
        </div>

        <br/>

    </div>



    <!-- TASK ACTION -->

    <div id="userTaskActionControlPanelSeparator" class="div-vertical-separator-sm"></div>

    <div id="userTaskActionControlPanel" class="div-main-container container-lg">

        <br/>

        <div class="div-block-caption">Task action</div>

        <div class="div-vertical-separator-sm"></div>

        <div class="container">
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center vertical-center-alignment">ID</div>
                <div class="col-4">
                    <input id="taskActionId" type="text" class="form-control-sm" ng-model="taskActionId" disabled />
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="div-th col-1 text-center vertical-center-alignment">Action type</div>
                <div class="col-4">
                    <select id="taskActionType" type="text" class="form-control-sm" ng-model="taskActionType" />
                </div>
            </div>
        </div>

        <br/>



        <br/>

    </div>



    <!-- ACTION TYPES -->

    <div class="div-vertical-separator-lg"></div>

    <div class="div-main-container container-lg">

        <br/>

        <div class="div-block-caption">Action types</div>

        <div class="div-vertical-separator-sm"></div>

        <div class="container div-table">
            <div class="row text-center">
                <div class="div-th col-1">#</div>
                <div class="div-th col">Name</div>
                <div class="div-th col">Description</div>
            </div>
            <div th:each="actionType : ${actionTypes}">
                <div class="div-row-basic row" th:ng-click="'actionTypeOnClick(' + ${actionType.id} + ')'">
                    <div class="div-basic col-1 border text-center" th:text="${actionType.id}"></div>
                    <div class="div-basic col border" th:text="${actionType.name}"></div>
                    <div class="div-basic col border" th:text="${actionType.description}"></div>
                </div>
            </div>
        </div>

        <br/>

        <div id="actionTypeInfo" class="container div-table" style="visibility: visible">

            <div class="row justify-content-md-center">
                <div class="div-th col-2 text-center">Name</div>
                <div id="actionTypeInfoName" class="div-basic col-4"></div>
            </div>
            <div class="row justify-content-md-center">
                <div class="div-th col-2 text-center">Description</div>
                <div id="actionTypeInfoDescription" class="div-basic col-4"></div>
            </div>

            <br/>

            <div class="row justify-content-md-center text-center">
                <div class="div-th col-1">#</div>
                <div class="div-th col-4">Name</div>
                <div class="div-th col-4">Description</div>
            </div>
            <div class="row justify-content-md-center" ng-repeat="actionTypeParam in actionTypeParams">
                <div class="div-basic col-1 text-center">{{actionTypeParam.id}}</div>
                <div class="div-basic col-4">{{actionTypeParam.name}}</div>
                <div class="div-basic col-4">{{actionTypeParam.description}}</div>
            </div>

            <br/>

        </div>

        <br/>

    </div>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>

</html>