<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8"/>
    <title>Task Manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

</head>

<body ng-app="TaskManager" ng-controller="TaskManagerController">

    <div class="container table-light">
        <div class="row table-dark text-center">
            <div class="col-sm-1 border">#</div>
            <div class="col-sm border">Name</div>
            <div class="col-sm border">Description</div>
        </div>
        <div th:each="actionType : ${actionTypes}">
            <div class="row bullet-button" type="button" th:ng-click="'actionTypeOnClick(' + ${actionType.id} + ')'">
                <div class="col-sm-1 border text-center" th:text="${actionType.id}"></div>
                <div class="col-sm border" th:text="${actionType.name}"></div>
                <div class="col-sm border" th:text="${actionType.description}"></div>
            </div>
        </div>
    </div>

    <br/>

    <div class="container" style="visibility: collapse" id="actionTypeInfo">
        <div class="row justify-content-md-center">
            <div class="col-2 bg-dark text-light border text-center">Name</div>
            <div class="col-4 border" id="actionTypeInfoName"></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-2 bg-dark text-light border text-center">Description</div>
            <div class="col-4 border" id="actionTypeInfoDescription"></div>
        </div>

        <br />

        <div class="row justify-content-md-center text-center">
            <div class="col-1 bg-dark text-light border">#</div>
            <div class="col-4 bg-dark text-light border">Name</div>
            <div class="col-4 bg-dark text-light border">Description</div>
        </div>
        <div class="row justify-content-md-center" ng-repeat="actionTypeParam in actionTypeParams">
            <div class="col-1 border text-center">{{actionTypeParam.id}}</div>
            <div class="col-4 border">{{actionTypeParam.name}}</div>
            <div class="col-4 border">{{actionTypeParam.description}}</div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-1 bg-dark text-light border">#</div>
            <div class="col-4 bg-dark text-light border">Name</div>
            <div class="col-4 bg-dark text-light border">Description</div>
        </div>
    </div>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/main.js}"></script>

</body>

</html>